body {
  margin: 0;
  padding:  0;
  background: #e9ceef;
  font-family: -apple-system, BlinkMacSystemFont, 'Malgun Gothic', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Malgun Gothic';
}
